.blue {
  color: #409eff;
}
.mt14 {
  margin-top: 14px;
}
.ml10 {
  margin-left: 10px;
}
.mr5 {
  margin-right: 5px;
}
.mr40 {
  margin-right: 40px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
